@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: #191919 !important;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #191919;
  z-index: -9999;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: #191919 !important;
}

/* Buttons */

button,
button:active {
  background-color: rgb(234, 178, 156);
  border: none;
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(240, 240, 190);
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 8px 8px sienna;
  margin: 0 auto;
}

/* Display */

#time-left {
  font-size: 60px;
  text-align: center;
  background-color: #8b93d6;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 3px 3px #6f78bd inset;
}

#display-controls {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 22px;
  text-align: center;
  padding-top: 2px;
  background-color: #8b93d6;
  border-radius: 10px;
  height: 38px;
  flex: 2;
  box-shadow: 3px 3px #6f78bd inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

/* Length Controls */

.length-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 120px;
  height: 52px;
}

.break-container,
.session-container {
  text-align: center;
  border: 2px solid rgb(234, 178, 156);
  padding: 8px;
  border-radius: 10px;
  width: 48%;
}

.timer-length {
  font-size: 1.8em;
}

.break-container,
.inc-arrow {
  margin-right: 8px;
}
